/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
}

.footer {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
}

.right-links > ul {
    display: flex;
    gap: 1em;
}

.hero-container {
    display: flex;
    justify-content: space-between;
}